__pycache__/
.coverage
.ruff_cache/
.pytest_cache/
2025*
bertnado.egg-info
bertnado/_version.py
wandb/
test/data
test/mock
catherine-chahrour-university-of-oxford

# Ignore macOS system files
.DS_Store

# Ignore logs and temporary files
*.log
*.tmp

# Ignore build artifacts
dist/
build/

# Ignore virtual environments
venv/
.venv/

# Ignore IDE/editor files
.vscode/
.idea/

# Ignore Sphinx build files
docs/_build/