__pycache__/
.coverage
.DS_Store
.idea/
.pytest_cache/
.ruff_cache/
.venv/
.vscode/
*.log
*.tmp
2025*
bertnado.egg-info
bertnado/_version.py
build/
catherine*
dist/
docs/_build/
test/mock
venv/
wandb/